@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f46060;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.theme-rat {
  color: #000;
  font-family: "Roboto Serif", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}

.wallpaper-rat {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-rat {
  text-align: center;
  padding: 20px;
}

.play-rat {
  display: inline-block;
  width: 230px;
  height: 67px;
  border-radius: 15px;
  background: #333;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  padding: 0;
  cursor: pointer;
  border: 3px solid #ff5733;
  outline: none;
  transition: background-color 0.3s ease;
}
.play-rat:hover {
  background-color: #ff8747;
  border-color: #ff8747;
}

.rat-image,
.food-image {
  width: 256px;
  height: 226px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline;
}

.food-image {
  width: 180px;
  height: 160px;
}

@media (max-width: 768px) {
  .theme-rat {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .play-rat {
    width: 150px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
  .rat-image,
  .food-image {
    width: 150px;
    height: 133px;
  }
  .food-image {
    width: 120px;
    height: 106px;
  }
}
header img {
  width: 86px;
  height: 83px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#theme-rat {
  margin-bottom: 60px;
}

.janela-snake {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3098039216);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.fases-section {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fase-box {
  width: 159px;
  height: 105px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionando transições */
}
.fase-box:not(:last-child) {
  margin-right: 10px;
}
.fase-box:hover {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Adiciona uma sombra laranja ao passar o mouse */
}

.back-arrow {
  width: 86px;
}

#food-image {
  width: 86px;
  height: 83px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.food-image,
.back-arrow {
  margin: 0 10px;
}

.credits {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  font-size: 18px;
  opacity: 1;
  width: 165px;
  height: 34px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7137254902);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4.5px;
}

@media (max-width: 768px) {
  header img {
    width: 50px;
    height: 48px;
  }
  .menu {
    flex-direction: column;
    text-align: center;
  }
  .fase-box {
    width: 120px;
    height: 80px;
    font-size: 12px;
  }
  #food-image,
  .back-arrow {
    width: 50px;
    height: 48px;
  }
  .credits {
    margin-top: 15px;
    font-size: 14px;
    width: 120px;
    height: 25px;
  }
}
.janela {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.janela .modal {
  background-color: #f46060; /* Cor de fundo da página */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.janela .modal .fechar {
  background-color: #333; /* Cor de fundo do botão fechar */
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.janela .modal .titulo {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Cor do texto do título */
}
.janela .modal .texto {
  margin-bottom: 10px;
  color: #333; /* Cor do texto regular */
}
.janela .modal .autor,
.janela .modal .docente {
  font-weight: bold;
  margin-top: 10px;
  color: #333; /* Cor do texto em negrito */
}

.fase-1-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.verde-snake {
  width: 450px;
  height: 300px;
  background-color: rgba(145, 205, 139, 0.4901960784);
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}

#arrow-right,
#arrow-down,
#arrow-left,
#arrow-up {
  width: 60px;
  height: 50px;
}

.wallpaper-rat {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.cover-rat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-green-snake {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.modal-green-snake .opcao-snake {
  color: #032088;
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-green-snake .opcao-snake a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.modal-green-snake .opcao-snake a.fechar-green-snake {
  background-color: #bb1d1d;
  border: 3px solid #bb1d1d;
  color: #ffffff;
}
.modal-green-snake .opcao-snake a.fechar-green-snake:hover {
  background-color: #ffffff;
  color: #bb1d1d;
}
.modal-green-snake .opcao-snake a.parabens-snake {
  background-color: #032088;
  border: 3px solid #032088;
  color: #ffffff;
}
.modal-green-snake .opcao-snake a.parabens-snake:hover {
  background-color: #ffffff;
  color: #032088;
}

.modal-snake {
  width: 100px;
  min-width: 500px;
  min-height: 380px;
  background-color: rgba(255, 255, 255, 0.7137254902);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 75px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7137254902);
}

.fechar-snake:hover {
  opacity: 0.9;
}

.janela-snake.abrir-snake {
  display: flex;
}

@keyframes abrir-modal {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.abrir-snake .modal-snake {
  animation: abrir-modal 0.4s;
}

.texto-snake {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
}

.autor-snake {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 140px;
  margin-bottom: 5px;
}

.p-snake {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.s-snake {
  display: flex;
  width: 50px;
  height: 45px;
  margin-left: 153px;
  margin-bottom: 28px;
}

#arrow-right,
#arrow-down,
#arrow-left,
#arrow-up {
  width: 60px;
  height: 50px;
}

.fechar-green-snake:hover {
  opacity: 0.9;
}

.modal-exit-snake {
  width: 490px;
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.768627451);
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7137254902);
}

.exit-snake .modal-exit-snake {
  animation: sair-modal 0.4s;
}

/* Sessão Obrigado e Voltar */
.voltar-quero-snake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-snake img {
  display: flex;
  width: 800px;
  height: 140px;
  margin-top: 170px;
}

.fase-1-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.verde-snake {
  width: 450px;
  height: 300px;
  background-color: rgb(224, 214, 214);
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}

/* Sessão 2 Fase Labirinto de Snake Game */
.fase-2-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.azul-snake {
  width: 599px;
  height: 385px;
  background-color: rgba(99, 139, 198, 0.537254902);
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}

/* Todos as Fases Labirinto de Snake Game */
.back-snake {
  display: flex;
  width: 65px;
  height: 65px;
  cursor: pointer;
  opacity: 1;
  margin-right: 25px;
  margin-bottom: 370px;
}

.back-snake:hover {
  opacity: 0.9;
}

.grid-snake {
  display: grid;
}

.main-snake {
  background-color: rgba(209, 26, 26, 0.3921568627);
  border-radius: 10px;
  border: 3px solid #0e0d0d;
  width: 450px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  margin-bottom: 85px;
}

.g-snake {
  width: 60px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.g-snake img {
  width: 60px;
  height: 45px;
}

.comando-1-snake {
  display: flex;
}

.bloco-snake {
  background-color: rgba(255, 255, 255, 0.3921568627);
  border-radius: 10px;
  border: 3px solid #000000;
  width: 350px;
  height: 63px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  padding-top: 6px;
  padding-left: 7px;
  margin-right: 7px;
}

.f-snake {
  display: flex;
  width: 40px;
  height: 45px;
  cursor: pointer;
  opacity: 1;
}

.f-snake:hover {
  opacity: 0.9;
}

.comando-2-snake {
  display: flex;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #dd3838;
  border-radius: 10px;
  border: 3px solid #000000;
  width: 200px;
  height: 63px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-right: 7px;
}

.excluir-snake {
  font-family: "Luckiest Guy", cursive;
  background-color: #247d38;
  border-radius: 10px;
  border: 3px solid #000000;
  cursor: pointer;
  width: 103px;
  height: 62px;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.excluir-snake:hover {
  opacity: 0.9;
}

.over-snake.game-snake {
  display: flex;
}

@keyframes over-modal {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.game-snake .modal-game-over {
  animation: over-modal 0.4s;
}

.modal-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}

.over-snake {
  padding: 75px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d31717;
}
.over-snake .modal-game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.over-snake h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.over-snake .opcao-snake a {
  padding: 10px 20px;
  background-color: #7b8385;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 800px) {
  body {
    overflow: hidden;
  }
  .bloco-snake {
    width: 180px;
    gap: 8px;
  }
  .fase-1-snake,
  .fase-2-snake {
    padding-top: 20px;
  }
  #arrow-right,
  #arrow-down,
  #arrow-left,
  #arrow-up {
    width: 50%;
  }
  .grid-snake {
    align-items: center;
    justify-self: center;
  }
  .verde-snake {
    width: 200px;
    height: 100px;
  }
  .modal-snake,
  .modal-exit-snake,
  .modal-game-over {
    min-width: 90%;
    margin: 0 auto;
  }
  .thank-snake img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .main-snake {
    width: 180px;
    height: 100px;
    margin-right: 0;
    gap: 10px;
  }
  .grid-snake img,
  .timer,
  .excluir-snake,
  .over-snake {
    width: 80%;
  }
  .s-snake {
    margin-left: 0;
  }
  .modal-confirm {
    padding: 10px;
  }
  .over-snake {
    padding: 10px;
  }
  h2 {
    font-size: 1.2em;
  }
  .comando-2-snake {
    width: 30%;
    margin-right: 60px;
  }
  .footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
