@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.fase-1-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.verde-snake {
  width: 450px;
  height: 300px;
  background-color: #91cd8b7d;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}
#arrow-right,
#arrow-down,
#arrow-left,
#arrow-up {
  width: 60px;
  height: 50px;
}

.wallpaper-rat {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.cover-rat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-green-snake {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;

  .opcao-snake {
    color: #032088;
    font-family: "Luckiest Guy", cursive;
    font-size: 24px;
    margin-bottom: 20px;

    a {
      display: inline-block;
      margin: 10px;
      padding: 12px 24px;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 15px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &.fechar-green-snake {
        background-color: #bb1d1d;
        border: 3px solid #bb1d1d;
        color: #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #bb1d1d;
        }
      }

      &.parabens-snake {
        background-color: #032088;
        border: 3px solid #032088;
        color: #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #032088;
        }
      }
    }
  }
}

.modal-snake {
  width: 100px;
  min-width: 500px;
  min-height: 380px;
  background-color: #ffffffb6;
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 75px;
  box-shadow: 10px 10px 10px #000000b6;
}

.fechar-snake:hover {
  opacity: 0.9;
}

.janela-snake.abrir-snake {
  display: flex;
}

@keyframes abrir-modal {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.abrir-snake .modal-snake {
  animation: abrir-modal 0.4s;
}

.texto-snake {
  text-align: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
}

.autor-snake {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 140px;
  margin-bottom: 5px;
}

.p-snake {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.s-snake {
  display: flex;
  width: 50px;
  height: 45px;
  margin-left: 153px;
  margin-bottom: 28px;
}

#arrow-right,
#arrow-down,
#arrow-left,
#arrow-up {
  width: 60px;
  height: 50px;
}

.fechar-green-snake:hover {
  opacity: 0.9;
}

.modal-exit-snake {
  width: 490px;
  min-width: 200px;
  min-height: 200px;
  background-color: #ffffffc4;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 100px;
  box-shadow: 10px 10px 10px #000000b6;
}

.exit-snake .modal-exit-snake {
  animation: sair-modal 0.4s;
}

/* Sessão Obrigado e Voltar */
.voltar-quero-snake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-snake img {
  display: flex;
  width: 800px;
  height: 140px;
  margin-top: 170px;
}

.fase-1-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.verde-snake {
  width: 450px;
  height: 300px;
  background-color: rgb(224, 214, 214);
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}

/* Sessão 2 Fase Labirinto de Snake Game */
.fase-2-snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.azul-snake {
  width: 599px;
  height: 385px;
  background-color: #638bc689;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
}

/* Todos as Fases Labirinto de Snake Game */
.back-snake {
  display: flex;
  width: 65px;
  height: 65px;
  cursor: pointer;
  opacity: 1;
  margin-right: 25px;
  margin-bottom: 370px;
}

.back-snake:hover {
  opacity: 0.9;
}

.grid-snake {
  display: grid;
}

.main-snake {
  background-color: #d11a1a64;
  border-radius: 10px;
  border: 3px solid #0e0d0d;
  width: 450px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  margin-bottom: 85px;
}

.g-snake {
  width: 60px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.g-snake img {
  width: 60px;
  height: 45px;
}

.comando-1-snake {
  display: flex;
}

.bloco-snake {
  background-color: #ffffff64;
  border-radius: 10px;
  border: 3px solid #000000;
  width: 350px;
  height: 63px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  padding-top: 6px;
  padding-left: 7px;
  margin-right: 7px;
}

.f-snake {
  display: flex;
  width: 40px;
  height: 45px;
  cursor: pointer;
  opacity: 1;
}

.f-snake:hover {
  opacity: 0.9;
}

.comando-2-snake {
  display: flex;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #dd3838;
  border-radius: 10px;
  border: 3px solid #000000;
  width: 200px;
  height: 63px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-right: 7px;
}

.excluir-snake {
  font-family: "Luckiest Guy", cursive;
  background-color: #247d38;
  border-radius: 10px;
  border: 3px solid #000000;
  cursor: pointer;
  width: 103px;
  height: 62px;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  color: #ffffff;
  opacity: 1;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.excluir-snake:hover {
  opacity: 0.9;
}

.over-snake.game-snake {
  display: flex;
}

@keyframes over-modal {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.game-snake .modal-game-over {
  animation: over-modal 0.4s;
}

.modal-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}

.over-snake {
  padding: 75px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d31717;

  .modal-game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .opcao-snake {
    a {
      padding: 10px 20px;
      background-color: #7b8385;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

// Adicione a regra de mídia para telas menores
@media (max-width: 550px) {
  .bloco-snake {
    width: 180px;
    gap: 8px;
  }
  .fase-1-snake,
  .fase-2-snake {
    padding-top: 20px; // Ajuste no espaçamento superior
  }
  #arrow-right,
  #arrow-down,
  #arrow-left,
  #arrow-up {
    width: 50%;
  }
  .grid-snake {
    align-items: center;
    justify-self: center;
    margin: -10px;
  }

  .verde-snake {
    width: 200px;
    height: 100px;
  }

  .modal-snake,
  .modal-exit-snake,
  .modal-game-over {
    min-width: 90%; // Ajuste na largura do modal para telas menores
    margin: 0 auto; // Centralizar o modal
  }

  .thank-snake img {
    width: 100%; // Ocupar toda a largura disponível
    height: auto; // Ajustar a altura automaticamente
    margin-top: 20px; // Ajuste no espaçamento superior
  }

  .main-snake {
    width: 200px;
    height: 100px;
    margin-right: 0; // Remover margem à direita
    gap: 10px;
  }

  .grid-snake img,
  .timer,
  .excluir-snake,
  .over-snake {
    width: 80%; // Ocupar toda a largura disponível
  }

  .s-snake {
    margin-left: 0; // Remover margem à esquerda
  }

  .modal-confirm {
    padding: 10px; // Ajuste no espaçamento interno
  }

  .over-snake {
    padding: 10px; // Ajuste no espaçamento interno
  }

  h2 {
    font-size: 1.2em; // Redução no tamanho da fonte
  }

  .comando-2-snake {
    width: 30%;
    margin-right: 50px;
  }
}
