header img {
  width: 86px;
  height: 83px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#theme-rat {
  margin-bottom: 60px;
}

.fases-section {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fase-box {
  width: 159px;
  height: 105px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
  }
}

.back-arrow {
  width: 86px;
}

#food-image {
  width: 86px;
  height: 83px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.food-image,
.back-arrow {
  margin: 0 10px;
}

.credits {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  font-size: 18px;
  opacity: 1;
  width: 165px;
  height: 34px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 10px 10px 10px #000000b6;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4.5px;
}

@media (max-width: 768px) {
  header img {
    width: 50px;
    height: 48px;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .fase-box {
    width: 120px;
    height: 80px;
    font-size: 12px;
  }

  #food-image,
  .back-arrow {
    width: 50px;
    height: 48px;
  }

  .credits {
    margin-top: 15px;
    font-size: 14px;
    width: 120px;
    height: 25px;
  }
}

.credits-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  .modal {
    background-color: #f46060;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    .close {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
    }

    .title {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333;
      text-transform: uppercase;
    }

    .text {
      margin-bottom: 15px;
      color: #181717;
      font-size: 18px;
    }

    .student,
    .prof {
      font-weight: bold;
      margin-top: 10px;
      color: #333;
    }
  }
}

.tutorial-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8f8f8;
  border: 2px solid #4d4d4d;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #032088;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #333;
  }

  .close-tutorial {
    cursor: pointer;
    font-size: 1.4em;
    color: #032088;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      content: "\00d7";
      font-family: "Arial", sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5em;
    }

    &:hover {
      color: #bb1d1d;
    }
  }
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
